body {
    background-color: rgb(226, 206, 181);
}
.p1 {
    font-family: Verdana, Helvetica, Arial sans-serif;
  }

p1 {
    font-size: 30px;
  }
  .p2 {
    font-family: "Lucida Console", "Courier New", monospace;
  }

p2 {
    font-size: 16px;
  }
