body {

    font-family: Verdana, Arial;

}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

p {
    font-size: 12px;
    font-family: Tahoma;
}
.button {
    background-color: white; 
    border: none;
    outline-style: outset;
    color: black;
    outline-width: 10px;
    outline-color: lightgray;
  }
 
 
