body {
    background-color: rgb(231, 226, 226);
}
ul.navipalkki {
    background-color: #111;
    padding: 0;
}

ul.navipalkki li {
    list-style-type: none;
    display: inline;
    margin: 0;
}

ul.navipalkki li a {
    color: #FFF;
    font-weight: bold;
    padding: 20px;
    display: inline-block;
}
.p {
    font-family: Verdana, Helvetica, Arial sans-serif;
  }

p {
    font-size: 20px;
  }
  ul.a {
    list-style-type: circle;
  }