h1 {
    border: 1px solid #ff0000;

width: 60%;

}

p {
    border: 1px solid green;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 700px;
    float: left;
}