ul {
    list-style-type:none;
    margin-top: 10px;
    margin-left: 0px;
    padding: 0;
    overflow: hidden;
   
  }
  div.fixed {
    position: fixed;
    top: 0;
    left: 0;
   
  }
  div.fixed2 {
    position: fixed;
    top: 0;
    left: 50%;
  
   
  }
  div.fixed3 {
    position: fixed;
    top: 0;
    right: 0;
   
  }
 
  li a:hover {
    background-color: #111;
  }
  p {
    margin-left: 50px;
    margin-top: 100px;
  }
  p2 {
    position: absolute;
    color: blue;
        
    top: 700px;
    right: 15px;
  }
  