body {
    background-color: cornflowerblue;
}
p {
    background-color: lightgray;
    margin-top: 50px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 50px;
}
textarea {
    background-color: lightgray;
    width: 100%;
    
    vertical-align:middle;
 
}
p2 {
    width: 200px;
    padding: 30px;
    border:2px solid #000;
}