body {
    background-color: rgb(231, 226, 226);
}

td {
    height: 50px;
  vertical-align: top;
}

th {
    height: 50px;
    vertical-align: top;
}
table,
tr,
th,
td {
   border: 1px solid black;
   border-collapse: collapse;
}